<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<form action="/generate" method="post">
			<input type="text" name="text" id="text" placeholder="Input text" required />
			<button type="submit">Generate</button>
		</form>

		<img class="qr-image" src="<%= filePath %>" alt="qr-code" />

		<p><%= content %></p>
	</body>
</html>
